main{
    padding:100px 10%;
}

/* TARJETAS */
.content-card{
    display:flex;
    align-items:center;
    gap:60px;
    margin-bottom:120px;
    padding:50px;
    background:#0a0a0a;
    border:2px solid #222;
    position:relative;
    overflow:hidden;
    transition:0.4s;
}



/* Alternar posicion */
.content-card:nth-child(even){
    flex-direction:row-reverse;
}

/* Hover general */
.content-card:hover{
    border-color:red;
    transform:translateY(-8px);
}

/* Imagen */
.content-img img{
    width:220px;
    transition:0.6s;
}

.content-img img:hover{
    transform:scale(1.1);
}

/* Texto */
.content-text h2{
    font-size:34px;
    margin-bottom:20px;
    text-transform:uppercase;
    letter-spacing:2px;
}

.content-text p{
    line-height:1.8;
    margin-bottom:30px;
    color:#ccc;
}

/* Animacion de entrada */
.content-card{
    animation:appear 1s ease;
}

@keyframes appear{
    from{
        opacity:0;
        transform:translateY(60px);
    }
    to{
        opacity:1;
        transform:translateY(0);
    }
}

/* Responsive */
@media(max-width:900px){

    .content-card{
        flex-direction:column;
        text-align:center;
    }

    .content-card:nth-child(even){
        flex-direction:column;
    }

    .content-img img{
        width:100%;
        max-width:350px;
    }

}
