.form-section{
    padding:100px 20px;
    text-align:center;
}

.form-section h2{
    margin-bottom:40px;
    font-size:30px;
}

form{
    display:flex;
    flex-direction:column;
    gap:25px;
    max-width:550px;
    margin:auto;
    padding:50px;
    border-radius:16px;
    background:linear-gradient(160deg,#0f0f0f,#1a1a1a);
    box-shadow:0 10px 30px rgba(0,0,0,0.6);
border:1px solid #1f1f1f;

    position:relative;
    overflow:hidden;
    animation:fadeInForm 1s ease;
}
form::before{
    content:"";
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:4px;
    background:linear-gradient(90deg,#e10600,transparent);
}


input, textarea{
    padding:14px;
    border-radius:8px;
    border:1px solid #333;
    background:#0f0f0f;
    color:white;
    transition:0.3s;
    font-size:14px;
    letter-spacing:1px;
}


/* input::placeholder,
textarea::placeholder{
    color:#777;
} */

input:focus, textarea:focus{
    outline:none;
    border-color:#e10600;
    box-shadow:0 0 8px rgba(225,6,0,0.5);
transform:scale(1.01);

}


textarea{
    resize:none;
    height:120px;
}

button{
    padding:14px;
    border:none;
    background:linear-gradient(90deg,#e10600,#9c0000);
    color:white;
    border-radius:8px;
    font-weight:bold;
    cursor:pointer;
    letter-spacing:2px;
    text-transform:uppercase;
    transition:0.3s ease;
    position:relative;
    overflow:hidden;
}

button::after{
    content:"";
    position:absolute;
    top:0;
    left:-100%;
    width:100%;
    height:100%;
    background:linear-gradient(120deg,transparent,rgba(255,255,255,0.3),transparent);
    transition:0.5s;
}

button:hover::after{
    left:100%;
}

button:hover{
    box-shadow:0 6px 18px rgba(225,6,0,0.5);
    transform:translateY(-2px);
}




@keyframes fadeInForm{
    from{
        opacity:0;
        transform:translateY(50px);
    }
    to{
        opacity:1;
        transform:translateY(0);
    }
}

.idioma{
    display: flex;
    text-align: left;
}
.grupo-formulario{
    border:1px solid #222;
    padding:20px;
    border-radius:12px;
    text-align:left;
    background:#141414;
    transition:0.3s ease;
    position:relative;
}

.grupo-formulario::after{
    content:"";
    position:absolute;
    bottom:0;
    left:0;
    width:0;
    height:2px;
    background:#e10600;
    transition:0.4s;
}

.grupo-formulario:hover::after{
    width:100%;
}

.grupo-formulario:hover{
    border-color:#e10600;
}
.grupo-formulario label {
    display:block;
    margin-bottom:10px;
    cursor:pointer;
    transition:0.3s ease;
}

.grupo-formulario label:hover {
    color:#e10600;
}
form p{
    text-align:left;
    font-size:14px;
    margin-bottom:-10px;
    color:#ccc;
    letter-spacing:1px;
}
