.form-section{
    padding:100px 20px;
    text-align:center;
}

.form-section h2{
    margin-bottom:40px;
    font-size:30px;
}

form{
    display:flex;
    flex-direction:column;
    gap:20px;
    max-width:500px;
    margin:auto;
    padding:50px;
    border-radius:20px;
    background:linear-gradient(145deg,#111,#1a1a1a);
    box-shadow:0 0 30px rgba(255,0,0,0.3);
    animation:fadeInForm 1s ease;
}

input, textarea{
    padding:14px;
    border-radius:8px;
    border:1px solid #333;
    background:#0f0f0f;
    color:white;
    transition:0.3s;
}

input::placeholder,
textarea::placeholder{
    color:#777;
}

input:focus, textarea:focus{
    outline:none;
    border-color:red;
    box-shadow:0 0 12px rgba(255,0,0,0.6);
}

textarea{
    resize:none;
    height:120px;
}

button{
    padding:14px;
    border:none;
    background:red;
    color:white;
    border-radius:8px;
    font-weight:bold;
    cursor:pointer;
    transition:0.3s;
}

button:hover{
    background:white;
    color:red;
    transform:scale(1.05);
}

button:active{
    transform:scale(0.95);
}

@keyframes fadeInForm{
    from{
        opacity:0;
        transform:translateY(50px);
    }
    to{
        opacity:1;
        transform:translateY(0);
    }
}
