*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:#0f0f0f;
    color:white;
}

header{
    background:#111;
    padding:20px;
    text-align:center;
}

nav ul{
    list-style:none;
    display:flex;
    justify-content:center;
    gap:20px;
    margin-top:10px;
}

nav a{
    text-decoration:none;
    color:white;
    padding:8px 15px;
    transition:0.3s;
}

nav a:hover{
    background:red;
    border-radius:5px;
}

nav a:active{
    transform:scale(0.9);
}

footer{
    text-align:center;
    padding:20px;
    background:#111;
    margin-top:40px;
}

.btn{
    display:inline-block;
    padding:10px 20px;
    background:red;
    color:white;
    text-decoration:none;
    border-radius:5px;
    transition:0.3s;
}

.btn:hover{
    background:white;
    color:red;
}

.btn:active{
    transform:scale(0.95);
}

@media(max-width:900px){
    nav ul{
        flex-direction:column;
    }
}
