*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:#0f0f0f;
    color:rgb(255, 255, 255);
}

header{
        background: linear-gradient(to right, #490000, #1c1c1c);
    padding:20px;
    text-align:center;
}

nav ul{
    list-style:none;
    display:flex;
    justify-content:center;
    gap:20px;
    margin-top:10px;
}

nav a{
    text-decoration:none;
    color:white;
    padding:8px 15px;
    transition:0.3s;
}

nav a:hover{
    background:red;
    border-radius:5px;
}

nav a:active{
    transform:scale(0.9);
}

.intro{
    text-align:center;
    padding:40px 20px;
}

.piloto-card{
    display:flex;
    align-items:center;
    justify-content:center;
    gap:40px;
    padding:50px 10%;
    transition:0.4s;
    animation:fadeIn 1s ease-in;
}

.piloto-card:nth-child(even){
    flex-direction:row-reverse;
}

.piloto-card:hover{
    background:#1a1a1a;
}

.piloto-img img{
    width:350px;
    border-radius:15px;
    transition:0.5s;
}

.piloto-img img:hover{
    transform:scale(1.05);
}

.piloto-text{
    max-width:500px;
}

.piloto-text h3{
    font-size:28px;
    margin-bottom:15px;
}

.piloto-text p{
    line-height:1.6;
    margin-bottom:20px;
}

.btn{
    display:inline-block;
    padding:10px 20px;
    background:red;
    color:white;
    text-decoration:none;
    border-radius:5px;
    transition:0.3s;
}

.btn:hover{
    background:white;
    color:red;
}

.btn:active{
    transform:scale(0.95);
}

footer{
    text-align:center;
    padding:20px;
    background:#111;
    margin-top:40px;
}

/* Animacion */
@keyframes fadeIn{
    from{
        opacity:0;
        transform:translateY(50px);
    }
    to{
        opacity:1;
        transform:translateY(0);
    }
}

/* Responsive */
@media(max-width:900px){
    .piloto-card{
        flex-direction:column;
        text-align:center;
    }

    .piloto-card:nth-child(even){
        flex-direction:column;
    }

    .piloto-img img{
        width:100%;
        max-width:300px;
    }
}
