main{
    padding:80px 10%;
}

.content-card{
    display:flex;
    align-items:center;
    gap:50px;
    margin-bottom:100px;
    padding:40px;
    border-radius:15px;
    border-left:6px solid red;
    background:#121212;
    transition:0.4s;
    animation:slideRight 1s ease;
}

.content-card:nth-child(even){
    flex-direction:row-reverse;
    border-left:none;
    border-right:6px solid red;
}

.content-card:hover{
    background:#1c1c1c;
    transform:scale(1.02);
}

.content-img img{
    width:380px;
    border-radius:15px;
    filter:grayscale(50%);
    transition:0.5s;
}

.content-img img:hover{
    filter:grayscale(0%);
    transform:scale(1.05);
}

.content-text h2{
    font-size:28px;
    margin-bottom:15px;
}

.content-text p{
    line-height:1.7;
    margin-bottom:20px;
}

@keyframes slideRight{
    from{
        opacity:0;
        transform:translateX(-60px);
    }
    to{
        opacity:1;
        transform:translateX(0);
    }
}

@media(max-width:900px){
    .content-card{
        flex-direction:column;
        text-align:center;
        border:none;
    }

    .content-card:nth-child(even){
        flex-direction:column;
        border:none;
    }

    .content-img img{
        width:100%;
        max-width:320px;
    }
}
