* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

.hero {
    height: 100vh;
    background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.barra-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
}

.logo {
    font-weight: 700;
    font-size: 24px;

}

.link-nav {
    list-style: none;
    display: flex;
    gap: 30px;
}

.link-nav a {
    text-decoration: none;
    color: rgb(255, 0, 0);
    font-weight: 500;
}

.hero-content {
    text-align: center;
    margin-bottom: 150px;
}

.hero-content h1 {
    font-size: 50px;
    margin-bottom: 20px;
}

.hero-content p {
    font-size: 20px;
    margin-bottom: 30px;
}

.btn {
    background-color: #d30700;
    padding: 12px 25px;
    text-decoration: none;
    color: white;
    border-radius: 5px;
    font-weight: 600;
}



#person{
    width: 112px;
    height: 156px;
    margin: auto;
    background: url('https://cdn.rawgit.com/ManzDev/cursos-assets/gh-pages/css3/bernard-sprite.png ');
    
    animation: caminar .8s steps(6) infinite;
    
    position: relative;
    bottom: 34px;
    }
    /* En keyframes siempre se debe poner talcual el nombre de la aniamcion */
    @keyframes caminar{
    from{ background-position:0 }
    to{ background-position:-672px }
    }


    @media (max-width: 768px) {

        .barra-nav {
            flex-direction: column;
            gap: 20px;
            padding: 20px;
        }
    
        .limk-nav {
            flex-direction: column;
            gap: 15px;
            align-items: center;
        }
    
        .hero-content h1 {
            font-size: 32px;
        }
    
        .hero-content p {
            font-size: 16px;
        }
    
    }
.drivers {
    padding: 100px 60px;
    background-color: #00000096;
    text-align: center;
}

.section-title {
    font-size: 36px;
    margin-bottom: 60px;
}

 .drivers-container {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
} 
.card {
    background: rgb(255, 255, 255);
    width: 280px;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 10px 25px rgba(255, 0, 0, 0.63);
    transition: transform 0.5s ease;
    
}

.card img {
    width: 100%;
    height: 400px;
    object-fit: cover;
   
}
/* 
.card h3 {
    margin-top: 20px;
    font-size: 20px;
}

.card p {
    margin: 10px 0 20px 0;
    color: #666;
}

.card:hover {
    transform: translateY(-10px);
}  */
