* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.hero {
    height: 70vh;
    background: linear-gradient(to right, #000000a9, #000000cc),
                url("favicon/web-app-manifest-512x512.png");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero-content h2 {
    font-size: 50px;
    margin-bottom: 20px;
}

.hero-content p {
    font-size: 20px;
    margin-bottom: 30px;
}

.btn-hero {
    background: red;
    padding: 12px 25px;
    text-decoration: none;
    color: white;
    border-radius: 5px;
    transition: 0.3s;
}

.btn-hero:hover {
    background: darkred;
}


body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #490000, #1c1c1c);
    color: white;
    margin: auto;
}
.container {
    width: 90%;
    max-width: 1400px;
    margin: auto;
}
.info-cards {
    display: flex;
    gap: 20px;
    margin: 60px 0;
}

.info-card {
    flex: 1;
    background: #1a1a1a;
    padding: 30px;
    border-radius: 10px;
    transition: 0.3s;
}

.info-card:hover {
    transform: translateY(-10px);
    background: #222;
}
.intro-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    padding: 60px 0;
}



.main-header {
    text-align: center;
    padding: 30px;
    background: black;
    background: linear-gradient(to right, black, #6f0000);
}

.menu {
    display: flex;
    justify-content: center;
    gap: 30px;
    background: #111;
    padding: 15px;
}

.menu a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: 0.3s;
}

.menu a:hover {
    color: red;
}

section {
    padding: 40px 20px;
    text-align: center;
}

.photo-gallery {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}

.photo-gallery img {
    width: 200px;
    border-radius: 10px;
    transition: transform 0.3s;
}

.photo-gallery img:hover {
    transform: scale(1.1);
}

.video {
    width: 350px;
    border: 3px solid red;
    border-radius: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table th, table td {
    border: 1px solid white;
    padding: 10px;
}

table th {
    background: red;
}


.gallery {
    display: flex;
    gap: 10px;
    height: 300px;
}
.gallery{
    display: flex;
    width: auto;
    height: 400px;
}
section .gallery img{
    width: 3px;
    flex-grow: 1;
    object-fit: cover;
    opacity: 0.8;
    transition: all 0.5s ease;
}
section .gallery img:hover{
    cursor: crosshair;
    width: 300px;
    opacity: 1;
    filter: contrast(120%);
}

    
footer {
    background: black;
    padding: 20px;
    text-align: center;
    margin-top: 40px;
}

@media (max-width: 768px) {

    .menu {
        flex-direction: column;
    }

    .gallery {
        flex-direction: column;
        height: auto;
    }

    .video {
        width: 100%;
    }
    .info-cards {
    flex-direction: column;
}


}

section {
    animation: fadeIn 1s ease forwards;
}


.layout-info {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 40px;
    margin: 60px 0;
}

.info-main {
    background: #1a1a1a;
    padding: 30px;
    border-radius: 10px;
}

.info-side {
    background: #111;
    padding: 30px;
    border-radius: 10px;
}

.info-side ul {
    list-style: none;
    margin-top: 15px;
}

.info-side li {
    margin-bottom: 10px;
}
.intro-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}

.intro-text {
    flex: 2;
}

.intro-text h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.intro-text p {
    font-size: 18px;
    line-height: 1.6;
}

.intro-image {
    flex: 1;
}

.intro-image img {
    width: 100%;
    border-radius: 15px;
}

.f1-car {
    position: fixed;
    width: 250px;
    z-index: 0;
    animation: moveCar 2s linear infinite;
    pointer-events: none;
    
}

.left-car {
    left: 5px;
}

.right-car {
    right: 5px;
    animation-delay: 0s;
}

@keyframes moveCar {
    0% {
        top: -120px;
    }
    100% {
        top: 110%;
    }
}
.container {
    position: relative;
    z-index: 2;
}

