* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #0f0f0f, #1c1c1c);
    color: white;
    max-width: 1100px;
    margin: auto;
}

.main-header {
    text-align: center;
    padding: 30px;
    background: black;
}

.menu {
    display: flex;
    justify-content: center;
    gap: 30px;
    background: #111;
    padding: 15px;
}

.menu a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: 0.3s;
}

.menu a:hover {
    color: red;
}

section {
    padding: 40px 20px;
    text-align: center;
}

.photo-gallery {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}

.photo-gallery img {
    width: 200px;
    border-radius: 10px;
    transition: transform 0.3s;
}

.photo-gallery img:hover {
    transform: scale(1.1);
}

.video {
    width: 350px;
    border: 3px solid red;
    border-radius: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table th, table td {
    border: 1px solid white;
    padding: 10px;
}

table th {
    background: red;
}

.gallery {
    display: flex;
    gap: 10px;
    height: 300px;
}
.gallery{
    display: flex;
    width: auto;
    height: 400px;
}
section .gallery img{
    width: 3px;
    flex-grow: 1;
    object-fit: cover;
    opacity: 0.8;
    transition: all 0.5s ease;
}
section .gallery img:hover{
    cursor: crosshair;
    width: 300px;
    opacity: 1;
    filter: contrast(120%);
}

    
footer {
    background: black;
    padding: 20px;
    text-align: center;
    margin-top: 40px;
}

@media (max-width: 768px) {

    .menu {
        flex-direction: column;
    }

    .gallery {
        flex-direction: column;
        height: auto;
    }

    .video {
        width: 100%;
    }
}
